.navcont {
    width: 100%;
    background-color: #0972e3;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 5px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 2px 3px 0px rgb(240, 231, 231);
}

.navcont ul {
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: end;
    font-weight: 900;
    padding: 15px;
    color: white;
    gap: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.searchbarcont {
    width: 40%;
}

.logocont {
    width: 20%;
    height: 60px;
    color: white;
    padding: 10px;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}


a {

    text-decoration: none;

}

.logocont img {
    width: 100%;
}

.dropdown {
    position: absolute;
    background-color: white;
    height: 0px;
    width: 120px;
    display: none;
    color: rgb(110, 106, 106);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .2s;

}

.dropdown div {
    margin-bottom: 10px;

    transition: 3s;
    display: none;
}

.dropdown a {
    text-decoration: none;
    color: rgb(110, 106, 106);

}

.login:hover .dropdown {
    height: 100px;
    display: block;
}

.login:hover .dropdown div {
    display: block;
}

/* ul:nth-child(2):hover {

} */


@media screen and (max-width:700px) {
    .navcont {
        flex-direction: column;
        width: 100%;
    }

    .navcont ul {
        font-size: medium;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
    }

    .searchbarcont {
        width: 100%;



    }

    .logocont {
        width: 200px;
        height: 100px;
        padding-left: 0px;
        justify-self: start;

    }
}