.searchbar {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    width: 100%;
    padding: 14.5px;
    border-radius: 0 2rem 2rem 0;
    border: none;

    font-size: large;
    background-color: #fff;
    box-shadow: 1px 2px 3px 3px white;
    display: flex;
    justify-content: center;
    align-items: center;

}

*:focus {
    outline: none;



}

.iconcont {
    background-color: white;
    padding: 16px;
    border-radius: 2rem 0 0 2rem;
    position: relative;
    box-shadow: 1px 2px 3px 3px white;

    left: 1.4px;
    margin-left: 0;
    font-size: large;
    display: flex;
    justify-content: end;
    align-items: center;
}