.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
column-gap: 20px;
    border-radius:8px;
padding-left: 10px;
background-color:white;

}

.searchbar input {
    width: 100%;
    padding: 10px;
    border-radius:8px;
    border: none;
    font-size: large;
padding-left: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus {
    outline: none;
}
