.dashcont {
    padding: 0rem 3rem;
    border-radius: 10px;
    box-shadow: 13px 3px 25px -16px gray;
    border: 1px;
    width: 33%;
    min-width: 320px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width:1100px) and (min-width:600px) {
    .dashcont {
        flex-direction: row;
        width: 100%;


    }
}

@media screen and (max-width:600px) {
    .dashcont {
        width: 100%;
        flex-direction: column;



    }
}