.maincont {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.maincont img {
    width: 40%;
    height: 400px;

}

.comcont {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    background-color: yellow;
}

.content {
    padding-right: 20px;
}

.content:first-child {
    text-transform: capitalize;
}

.maincont .content {
    font-size: 16px;
    padding-left: 30px;
    color: #0972e3;
}

.p2 {
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
}

.p2 p {
    text-align: justify;
    color: #7e7e7e;

}

.p2 p span {
    color: black;
    font-weight: 900;
    color: #7e7e7e;

}

.last {
    color: #0972e3;
}

.btncont {
    display: flex;
    flex-direction: row;
}

.btncont a {
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .maincont {
        font-size: 16px;
    }

    .maincont {
        display: flex;
        flex-direction: column;
    }

    .maincont img {
        margin-top: 100px;
        width: 100%;
        height: 500px;
    }
}