.navcont {
    width: 100%;
    background-color:
        #0972e3;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    color: #fff;
    font-weight: 400;
    max-width: 1610px;
    margin: 0 auto;

    align-items: center;
    box-shadow: 1px 2px 3px 0px rgb(240, 231, 231);
}

.navcont ul {
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: end;
    font-weight: 900;
    padding: 15px;
    color: white;
    gap: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbarcont {
    width: 40%;
}

.logocont {
    width: 20%;
    height: 60px;
    color: white;
    padding: 10px;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

a {
    text-decoration: none;
    color: red;
}

.logocont img {
    width: 100%;
}

.dropdown {
    position: absolute;
    color: white;
    height: 0px;
    width: 120px;
    display: none;
    background: rgb(110, 106, 106);
    /* border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .2s;
    right: 120px;
    right: 120px;

}

.dropdown div {
    margin-bottom: 10px;
    transition: 3s;
    display: none;
}

.dropdown a {
    text-decoration: none;
    color: white;

}

.login:hover .dropdown {
    height: 100px;
    display: block;
    right: 120px;

}

.login:hover .dropdown div {
    display: block;
}

/* ul:nth-child(2):hover {

} */


@media screen and (max-width:700px) {
    .navcont {
        flex-direction: column;
        width: 100%;
    }

    .navcont ul {
        font-size: medium;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
    }

    .searchbarcont {
        width: 100%;



    }

    .logocont {
        width: 200px;
        height: 100px;
        padding-left: 0px;
        justify-self: start;

    }
}