.container {
    background: url('../../assets/sr.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1610px;
    align-items: center;
}

.formcont {
    margin-top: 10px;
    padding: 2rem 3rem;
    /* background-color: rgb(17, 14, 14); */
    box-shadow: 0 0 10px #fff;
    width: 50%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.form_group {
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: xx-large;
    width: 100%;
}

.form_group label {
    font-weight: 900;
}


.form_controller {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px 0px 20px 0px;

}

.form_controller input {
    width: 100%;
    border: none;
    font-size: large;
    padding: 20px;

}

.form_controller .select {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: large;
    /* padding: 20px; */
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.text a {
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .formcont {
        width: 400px;
    }
}