.footerCont {
    display: flex;
    background-color: #0972e3;
    padding: 2rem 3rem;
}

.headings {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.left p span {
    font-size: 16px !important;
    color: #f3e3e3;
    font-family: serif;
    position: relative;
}

.left p span::before {
    content: ">";
    font-size: large;
    color: white;
    font-weight: 600;
    position: absolute;
    left: -20px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right div span {
    font-size: 16px !important;
    color: #f3e3e3;
    border-bottom: 1px solid #fce8e8;
    padding-bottom: 20px;
    font-family: serif;
}

.right>div>p {
    display: flex;

}

.right>div>p span:last-child {
    margin-left: 5px;
}